<div class="container mt-sm">
  <h2 class="title-lg">
    <%= @questions.count %>
    <%= inclination(@questions.count, 'вопрос', 'вопроса', 'вопросов') %>
  </h2>
</div>

<% @questions.each do |question| %>
  <%= content_tag :div, class: "mb-sm container #{'transparent-title' if question.hidden?}" do %>
    <%= render question %>
  <% end %>
<% end %>
